In [99]:
import pandas as pd

In [111]:
df = pd.read_csv("./Course.txt", sep=",", header=None)
df.columns = ['CODE','ID', 'Name', 'Instructor', 'first_name', 'Limits']

In [112]:
df

    CODE          ID                    Name    Instructor first_name  Limits
0  34660     'CS230'    ' DIST COMPUTER SYS'     'EL ZARKI        M.'       4
1  34680     'CS241'   'ADV COMPILER CONSTR'        'FRANZ        M.'       4
2  34610     'CS202'        'APPLIED CRYPTY'      'JARECKI        S.'       2
3  34650     'CS222'   'PRINCIPLS DATA MGMT'           'LI        C.'       3
4  34700     'CS260'       'FUND ALGORITHMS'   'HIRSCHBERG         D'       5
5  34720     'CS263'   'ANALYSIS OF ALGRTHM'       'MIHAIL        M.'       3
6  34625   'CS211A '   'IMAGE UNDERSTANDING'     'MAJUMDER        A.'       3
7  34790    'CS274A'         'PROB LEARNING'        'SMYTH        P.'       6

In [113]:
# for i in df.ID:
#     i = i.replace('\'', '')

In [114]:
for i in range(8):
    df.ID[i] = df.ID[i].replace('\'', '')
for i in range(8):
    df.Name[i] = df.Name[i].replace('\'', '')
for i in range(8):
    df.Instructor[i] = df.Instructor[i].replace('\'', '')
for i in range(8):
    df.first_name[i] = df.first_name[i].replace('\'', '')

/Users/yurunsong/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/yurunsong/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Users/yurunsong/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/yurunsong/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [115]:
df

    CODE        ID                  Name   Instructor first_name  Limits
0  34660     CS230     DIST COMPUTER SYS     EL ZARKI         M.       4
1  34680     CS241   ADV COMPILER CONSTR        FRANZ         M.       4
2  34610     CS202        APPLIED CRYPTY      JARECKI         S.       2
3  34650     CS222   PRINCIPLS DATA MGMT           LI         C.       3
4  34700     CS260       FUND ALGORITHMS   HIRSCHBERG          D       5
5  34720     CS263   ANALYSIS OF ALGRTHM       MIHAIL         M.       3
6  34625   CS211A    IMAGE UNDERSTANDING     MAJUMDER         A.       3
7  34790    CS274A         PROB LEARNING        SMYTH         P.       6

In [116]:
# df.to_csv('Course.csv', columns= ['CODE','ID', 'Name', 'Instructor', 'Limits'], index=False)

In [117]:
df.to_csv('Course1.txt', sep=',', columns= ['CODE','ID', 'Name', 'Instructor', 'Limits'], index=False)

In [107]:
df = pd.read_csv("./Student.txt", sep=",", header=None)
df.columns = ['ID', 'Name']

In [108]:
for i in range(10):
    df.Name[i] = df.Name[i].replace('\'', '')

/Users/yurunsong/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [109]:
df

   ID            Name
0   1      Yurun Song
1   2    Junchen Zhao
2   3   Juncheng Fang
3   4           Jason
4   5             Ian
5   6            Ryan
6   7             Ali
7   8          Daniel
8   9            Iris
9  10           Kevin

In [86]:
# df.to_csv('Student.csv', columns= ['ID', 'Name'], index=False)

In [110]:
df.to_csv('Student.txt',sep=',', columns= ['ID', 'Name'], index=False)

In [88]:
# df = pd.read_csv("./Enrollment.txt", sep=",", header=None)
# df.columns = ['CourseCODE', 'StudentID' 'ID']

In [118]:
pd.DataFrame(columns = ['CourseCODE', 'StudentID', 'ID']).to_csv('Enrollment.txt', index=False)